@media all and (min-width: 992px) {
  .admin-bar #header {
    margin-top: 32px;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
  }

  .card-article .card-text {
    overflow: hidden;
    height: 168px;
  }
}

@media all and (max-width: 992px) {
  #wpadminbar {
    position: relative;
  }

  .navbar {
    padding: .25rem 1rem;
  }

  .navbar-nav .nav-link {
    padding: .75rem 0;
  }

  .dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
  }

  .dropdown-item {
    padding: .25rem .75rem;
  }

  .section {
    margin: 2rem 0;
  }

  #footer .footer-left {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  #footer .footer-right {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .post-nav .post-nav-item:first-child a {
    padding-right: 16px;
  }

  .post-nav .post-nav-item:last-child a {
    padding-left: 16px;
  }

  .col-other-articles .img-container,
  .col-other-projects .img-container {
    height: 196px;
  }
}
